{% extends "navbar.html" %}

{% block content %}
  <title>{% block title %}Fried Liver and Traxler Counter ttack{% endblock %}</title>
  <h1>Landing Page/Start</h1>
  <h2>Welcome to your guide to Fried Liver + Traxler Counter Attack</h2>
  <button id = "start-button">
    Start
  </button>
  <div id = "main-content">
    <h3>Dashboard</h3>

    <a class="card" href="{{ url_for('fried_liver') }}">
      <div class="info">
        <div class="title">The Fried Liver attack</div>
        <div class="subtitle">0/3 Puzzles Completed</div>
        <progress value="0" max="3"></progress>
      </div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg" alt="White pawn">
    </a>

    <a class="card" href="{{ url_for('traxler_counter') }}">
      <div class="info">
        <div class="title">The Traxler Counter Attack</div>
        <div class="subtitle">0/3 Puzzles Completed</div>
        <progress value="0" max="3"></progress>
      </div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg" alt="White pawn">
    </a>

    <br>

    <a class="card" href="{{ url_for('liver_quiz') }}">
      <div class="info">
        <div class="title">Quiz: Apply Your Knowledge</div>
        <div class="subtitle">Practice the full Fried Liver Attack and its counterplay</div>
        <div class="subtitle">
          Highest Score: {{ score | default(0) }} / {{ max_score | default(0) }}
        </div>
        <progress
          value="{{ score | default(0) }}"
          max="{{ max_score | default(0) }}"
        ></progress>
      </div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg"
        alt="White pawn"
      >
    </a>
  </div>


  <!-- toggle visibilty -->
  <script> 
    document.getElementById('start-button').addEventListener('click', function(){
      document.getElementById('main-content').style.display = 'block';
      this.style.display = 'none';
    });
  </script>
  </body>
  </html>

{% endblock %}